1.**DP What are data structures, and why are they important?**
- Data structures are ways of organizing and storing data to enable efficient access, manipulation, and storage. They are important because they optimize operations like searching, insertion, deletion, and updating, improving both performance and memory usage. Choosing the right data structure ensures that algorithms run efficiently, especially for large-scale or complex problems.

2.**Explain the difference between mutable and immutable data types with examples.**
 - Mutable data types can be changed or modified after they are created. Examples include lists, dictionaries, and sets in Python.

- Immutable data types cannot be modified after creation. Examples include integers, strings, and tuples in Python.
For instance:

- Mutable: You can modify a list by adding or removing elements.

my_list = [1, 2, 3]

my_list.append(4)  # List can be changed

Print("my_list",my_list)

my_list=[1,2,3,4]

- Immutable: You cannot change a string after it's created.

my_string = "hello"

my_string[0] = "H"  

print("my_string",my_string)

3.**What are the main differences between lists and tuples in Python?**
- The main differences between lists and tuples in Python are:

1.Mutability:

List: Mutable (can be modified after creation).

Tuple: Immutable (cannot be modified after creation).

2.Syntax:

List: Defined using square brackets [].

Tuple: Defined using parentheses ().

3.Performance:

List: Slightly slower due to mutability.

Tuple: Faster because it's immutable.

4.Use case:

List: Used when data might need modification.

Tuple: Used when data should remain constant.

my_list = [1, 2, 3]  # Mutable

my_tuple = (1, 2, 3)  # Immutable

4.**Describe how dictionaries store data**

- Dictionaries in Python store data as key-value pairs. Each key is unique and maps to a specific value. The data is stored in an unordered manner, but Python optimizes the lookup process to be very fast using a hashing mechanism.

Example:

my_dict = {"name": "Alice", "age": 25}  # Key-value pairs

Here, `"name"` and `"age"` are keys, and `"Alice"` and `25` are their corresponding values.

5.**Why might you use a set instead of a list in Python?**
- You might use a **set** instead of a **list** in Python when:

1. **Uniqueness**: Sets automatically eliminate duplicate values, ensuring each element is unique.
2. **Efficiency**: Sets offer faster membership tests (O(1) average time complexity) compared to lists (O(n)).
3. **Mathematical operations**: Sets support set operations like union, intersection, and difference, which are not directly available with lists.

Example:

my_set = {1, 2, 3}  # No duplicates allowed

my_list = [1, 2, 2, 3]  # Can have duplicates

6.**What is a string in Python, and how is it different from a list?**
- A **string** in Python is an immutable sequence of characters used to store text. A **list** is a mutable collection that can store items of different types, including strings, numbers, and other lists. The main difference is that strings cannot be changed after creation, while lists can be modified.
# String example

my_string = "Python"

print(my_string[0])  # Output: P

# List example
my_list = [10, 20, "Python", [1, 2, 3]]

print(my_list[2])  # Output: Python

7. **How do tuples ensure data integrity in Python?**
- Tuples ensure data integrity in Python by being **immutable**, meaning once a tuple is created, its elements cannot be changed, added, or removed. This immutability prevents accidental modifications, ensuring the data remains consistent and reliable throughout the program.

Creating a tuple
my_tuple = (1, 2, 3)

Trying to modify an element (this will raise an error)

my_tuple[0] = 10  # This will result in a TypeError: 'tuple' object does not support item assignment

print(my_tuple)  # Output: (1, 2, 3)

8. **What is a hash table, and how does it relate to dictionaries in Python?**
- A **hash table** is a data structure that stores key-value pairs, where each key is hashed into an index to quickly access its associated value. In Python, **dictionaries** are implemented using hash tables. The keys in a dictionary are hashed to provide fast lookups, insertions, and deletions, making dictionaries efficient for storing and retrieving data based on unique keys.
 Creating a dictionary

my_dict = {"name": "Alice", "age": 25, "city": "New York"}

Accessing a value using a key (fast lookup)

print(my_dict["name"])  # Output: Alice

Adding a new key-value pair

my_dict["job"] = "Engineer"

Modifying an existing value

my_dict["age"] = 26

Removing a key-value pair

del my_dict["city"]

Output the updated dictionary

print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'job': 'Engineer'}

9.**Can lists contain different data types in Python?**
-  Yes, lists in Python can contain elements of different data types. A single list can store integers, strings, floats, or even other lists or objects.

Example:
```python
my_list = [1, "hello", 3.14, [1, 2, 3]]
print(my_list)  # Output: [1, 'hello', 3.14, [1, 2, 3]]
```

This demonstrates that lists are flexible and can hold a mix of data types.

10.** Explain why strings are immutable in Python.**
- Strings are immutable in Python to ensure data integrity and performance. Since strings are often used in many operations, making them immutable allows Python to optimize memory usage by reusing string objects rather than creating new ones every time a string is modified. This immutability also prevents accidental changes to string data, ensuring consistency and reliability in code.
Here's an example showing the immutability of strings in Python:

```python
# Creating a string
my_string = "Hello"

# Trying to modify a character (this will raise an error)
# my_string[0] = "h"  # This will result in a TypeError: 'str' object does not support item assignment

# Creating a new string (strings are immutable, so we create a new one instead of modifying the original)
new_string = "h" + my_string[1:]

print(new_string)  # Output: hello
```

11.**What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries offer several advantages over lists for tasks where you need fast lookups, updates, or access to values based on unique keys. Unlike lists, where you access elements by index, dictionaries allow you to access values directly using keys, making operations more efficient (average O(1) time complexity).

### Example:
```python
# Using a list (slower for key-based lookup)
my_list = [("name", "Alice"), ("age", 25)]
# Finding the age requires iterating through the list
age = next(value for key, value in my_list if key == "age")
print(age)  # Output: 25

# Using a dictionary (faster lookup)
my_dict = {"name": "Alice", "age": 25}
# Direct access by key
print(my_dict["age"])  # Output: 25
```

12. **Describe a scenario where using a tuple would be preferable over a list**
- A tuple is ideal when you want to store **immutable** data, like fixed coordinates, that shouldn't change. Here's an example:

```python
# Storing coordinates as a tuple (immutable)
coordinates = (10, 20)

# Trying to modify the tuple would raise an error
# coordinates[0] = 15  # TypeError: 'tuple' object does not support item assignment

print(coordinates)  # Output: (10, 20)
```

In this case, a tuple ensures the coordinates cannot be accidentally altered.

13. **How do sets handle duplicate values in Python?**
- In Python, **sets** automatically remove duplicate values because they are **unordered collections** that only store unique elements.

### Example:
```python
# Creating a set with duplicate values
my_set = {1, 2, 3, 2, 3, 4}

# The duplicates are removed
print(my_set)  # Output: {1, 2, 3, 4}
```

In this example, the duplicate values `2` and `3` are automatically removed, leaving only unique elements in the set.

14. **How does the “in” keyword work differently for lists and dictionaries?**
- The `in` keyword works differently for **lists** and **dictionaries**:

- For **lists**, `in` checks if a value exists in the list.
- For **dictionaries**, `in` checks if a **key** exists in the dictionary.

### Example:

```python
# List example
my_list = [1, 2, 3]
print(2 in my_list)  # Output: True (checks for value)

# Dictionary example
my_dict = {"name": "Alice", "age": 25}
print("age" in my_dict)  # Output: True (checks for key)
print(25 in my_dict)  # Output: False (checks for value, not key)
```

15.**Can you modify the elements of a tuple? Explain why or why not**
- No, you cannot modify the elements of a tuple because tuples are **immutable** in Python. Once a tuple is created, its contents cannot be changed, which ensures data integrity.

### Example:
```python
# Creating a tuple
my_tuple = (1, 2, 3)

# Trying to modify an element will raise an error
# my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment
```

16.**What is a nested dictionary, and give an example of its use case?**
- A **nested dictionary** is a dictionary where the values are other dictionaries. This allows you to represent complex data structures, like data with multiple levels of keys and values.

### Use case example:
A nested dictionary can be used to store information about students, where each student has details like name, age, and subjects.

```python
# Nested dictionary example
students = {
    "Alice": {"age": 20, "subjects": ["Math", "Science"]},
    "Bob": {"age": 22, "subjects": ["History", "English"]},
}

# Accessing a nested value
print(students["Alice"]["age"])  # Output: 20
print(students["Bob"]["subjects"])  # Output: ['History', 'English']
```

17.**Describe the time complexity of accessing elements in a dictionary?**
- In Python, the time complexity of accessing an element in a **dictionary** is **O(1)** on average. This is because dictionaries use a hash table internally, allowing for constant-time lookups based on the key.

### Example:
```python
my_dict = {"name": "Alice", "age": 25}

# Accessing an element by key
print(my_dict["name"])  # Output: Alice
```

Here, accessing `"name"` in the dictionary happens in constant time, **O(1)**, because the key is hashed and the value is retrieved directly. However, in rare cases (e.g., hash collisions), the time complexity could be **O(n)**, but these cases are uncommon.

18.**In what situations are lists preferred over dictionaries?**
- **Lists** are preferred over **dictionaries** when the data is **ordered** and you need to maintain the sequence of elements or when you need to access elements by **index** rather than by key.

### Example:
1. **When the order matters**:
   ```python
   my_list = [10, 20, 30, 40]
   print(my_list[2])  # Output: 30
   ```

2. **When you have a collection of similar items**:
   ```python
   fruits = ["apple", "banana", "cherry"]
   ```

In these cases, lists are more suitable because they preserve order and allow for indexed access, which is useful when the data has a specific sequence or when you're working with a simple collection of items.

19.**Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries in Python are considered **unordered** because they do not maintain the order of insertion for key-value pairs. Prior to Python 3.7, dictionaries did not guarantee the order of items, but since Python 3.7+, they do preserve insertion order. However, the primary focus is on efficient key-based lookup, not on ordering.

### Effect on Data Retrieval:
- **Access by Key**: Retrieval is fast and based on the key, not the order.
- **No Indexing**: You cannot access elements by position, like in a list.

### Example:
```python
# Dictionary (insertion order preserved from Python 3.7+)
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

# Access by key
print(my_dict["name"])  # Output: Alice

# No direct access by index
# print(my_dict[1])  # This will raise an error
```

In this example, data retrieval is based on the key, not the order in which the items were added. However, while the order is preserved in Python 3.7+, it does not affect how the dictionary is used for efficient lookups.

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**
- The key difference between a **list** and a **dictionary** in terms of data retrieval is:

- In a **list**, data is accessed by **index** (position in the list).
- In a **dictionary**, data is accessed by **key** (a unique identifier).

### Example:
```python
# List example (access by index)
my_list = [10, 20, 30]
print(my_list[1])  # Output: 20  (accessing by index)

# Dictionary example (access by key)
my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])  # Output: Alice  (accessing by key)
```

In this example, lists require an index for retrieval, while dictionaries require a key. This makes dictionaries ideal for associative mappings, while lists are better for ordered collections.

Practical Questions

In [3]:
#1.Write a code to create a string with your name and print it.
my_name = "Ganesh"
print (my_name)

Ganesh

In [4]:
#2.Write a code to find the length of the string "Hello World"
my_string = "Hello World"
print(len(my_string))

11

In [5]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
my_string = "Python Programming"
print(my_string[0:3])

Pyt

In [9]:
#4.Write a code to convert the string "hello" to uppercase.
my_string = "hello"
upper_string = my_string.upper()
print(upper_string)

HELLO

In [12]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_string = "I like apple"
new_string = my_string.replace("apple","orange")
print(new_string)

I like orange

In [13]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [14]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [15]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [16]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a','b','c','d']
print(my_list[1])

b

In [18]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [19]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
my_tuple=tuple(my_tuple)
print(my_tuple)

(100, 200, 300)

In [20]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [21]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [24]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat=my_tuple.index('cat')
print(index_of_cat)

1

In [25]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ("apple","banana","orange")
my_fruit = "kiwi"
print(my_fruit in my_tuple)

False

In [29]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [30]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [31]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [34]:

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
my_set1 = {1,2,3}
my_set2 = {3,4,5}
Union_set = my_set.union(my_set2)
print(Union_set)

{1, 2, 3, 4, 5}

In [35]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
my_set1 = {1,2,3}
my_set2 = {2,3,4}
intersection_set = my_set1.intersection(my_set2)
print(intersection_set)

{2, 3}

In [37]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"Ganesh","age":25,"city":"Mumbai"}
print(my_dict)

{'name': 'Ganesh', 'age': 25, 'city': 'Mumbai'}

In [40]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {"name":'John',"age":25}
my_dict["country"] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [42]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name':'Alice','age':30}
print(my_dict['name'])

Alice

In [47]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [48]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

In [49]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3]
my_tuple = (1,2,3)
my_dict = {'name':'Ganesh','age':25,'city':'Mumbai'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'Ganesh', 'age': 25, 'city': 'Mumbai'}

In [52]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[3, 86, 86, 94, 94]

In [54]:
#28.Write a code to create a list with strings and print the element at the third index.
my_list = ["apple","banana","organ","grapes"]
print(my_list[2])

organ

In [55]:
#29.Write a code to combine two dictionaries into one and print the result.
my_dict1 = {"name":"Ganesh","age":25}
my_dict2 = {"city":"Mumbai","country":"india"}
print(my_dict1|my_dict2)

{'name': 'Ganesh', 'age': 25, 'city': 'Mumbai', 'country': 'india'}

In [57]:
#30.Write a code to convert a list of strings into a set.
my_list = ["apple","banana","organ","grapes"]
my_set = set(my_list)
print(my_set)

{'organ', 'banana', 'apple', 'grapes'}